h1 {
  font-size: 5rem;
  color: #99ff33;
  font-style: italic;
  text-align: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }
}
